body {
  color: #222;
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
}

a {
  color: #1863a1;
  transition: color 0.3s;
}

a:visited {
  color: #751590;
}
.post-entry {
  list-style-type: none;
}

.blog-index,
.blog-post {
  background: #f8f8f8 url('http://octopress.org/images/noise.png?1420306322') top left;
  max-width: 800px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.post-entry  a[rel=bookmark] {
  text-decoration: none;
}

.post-entry h1 {
  margin-bottom: 3px;
}

.post-entry h1 a {
  text-decoration: none;
  color: inherit;
}

.post-entry h1 a:hover {
  text-decoration: underline;
  color: #0181eb
}

.post-entry .entry-summary p {
  margin-bottom: 10px;
}

.post-entry .entry-readon {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
}

.entry-date {
  text-transform: uppercase
  font-family: monospace;
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
}

code, pre {
  font-family: Menlo, Consolas, Courier;
  font-size: 13px;
}

p code {
  background: rgb(234, 229, 229); 
  padding-left: 3px;
  padding-right: 3px;
}

pre code {
  line-height: 18px;
  margin: 5px;
  border-radius: 3px;
}

blockquote {
  font-size: 18px;
  font-style: italic;
}

img {
  max-width: 800px;
}
