<!DOCTYPE html>
<html>
<head>
  <title>thlorenz.com home</title>
  <meta name="description" content="Thorsten Lorenz Developer Home Page">
  {{> _head_common }}

</head>
<body>
  {{> _sidebar }}
  <section class="blog-index">
    <ul>
    {{#each collections.posts }}
      <li class="post-entry">
        <span class="entry-date">{{ this.date }}</span>
        <h1 class="entry-title"><a href="{{ this.path }}" rel="bookmark">{{ this.title }}</a></h1>
        <article class="entry-summary"> {{{ this.excerpt }}}</article>
        <a rel="bookmark" href="{{ this.path }}" class="entry-readon">Read on →</a> 
      </li>
    {{/each}}
    </ul>
</section>
</body>
</html>

<!--
vim: ft=handlebars
-->
